#debug {
    background-color: lightgrey;
    padding: 15px 25px;
}

#debug ul {
    margin: 0;
    padding: 0;
}

#debug li {
    display: inline-block;
    text-decoration: none;
}


#flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-item {
    display: contents;
    flex: auto;
}


#game #board {
    position: relative;
    width: 725px;
}

#game #next {
    position: absolute;
    top: 5px;
    right: 5px;
}

#game .besogo-container {
    background-color: transparent;
}

#game .besogo-whiteInfo {
    background-color: rgb(200, 200, 200);
}

#game .besogo-blackInfo {
    background-color: rgb(50, 50, 50);
}

#game .besogo-gameInfo {
    display: none !important;
}

#game .besogo-tree {
    flex-basis: 3%;
}


#stats {
    width: 400px;
    font-size: 22px;
}

#stats > div {
    margin-bottom: 10px;
}

#stats #keyValues > div {
    margin-bottom: 35px;
}

#stats #title {
    font-size: 1.5rem;
    font-weight: 800;
}

#stats #scoreChartColor {
    max-width: 163px;
}


#settings {
    width: 400px;
}

#settings .accordion-body .row .row {
    margin-bottom: 15px;
}

#settings input:invalid {
    border-color: red !important;
}

#settings .form-invalid-message {
    width: 100%;
    color: red;
    font-size: 0.8125rem;
}

#settings .input-group-text input[type="checkbox"] {
    min-width: 16px;
}

#settings .input-group input[type="number"],
#settings #opponentOptionPercDiv span,
#settings #preOptionPercDiv span,
#settings #minVisitsPercDiv span,
#settings #maxVisitDiffPercDiv span {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

#settings #opponentOptionPercDiv input[type="number"],
#settings #preOptionPercDiv input[type="number"],
#settings #minVisitsPercDiv input[type="number"],
#settings #maxVisitDiffPercDiv input[type="number"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#settings #settingsButtonDiv {
    margin-bottom: 20px;
}


.accordion-button {
    padding: 8px 20px 8px 10px !important;
}

.accordion-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
}



/* DARK MODE */

html[data-bs-theme="dark"] {
}
