@page "/change-password"

@using Gosuji.Client.Components.Shared;

@inherits CustomPage

<PageTitle>Change Password</PageTitle>

<div id="changePasswordPage">
    <CStatusMessage @ref=statusMessage />

    <EditForm Model="input" OnValidSubmit="TryChangePassword" method="post">
        <DataAnnotationsValidator />

        <div class="form-floating mb-3">
            <InputText type="password" @bind-Value="input.NewPassword" class="form-control" id="newPassword" />
            <label for="newPassword">New Password</label>
            <ValidationMessage For="() => input.NewPassword" class="text-danger" />
        </div>
        <div class="form-floating mb-3">
            <InputText type="password" @bind-Value="input.ConfirmNewPassword" class="form-control" id="confirmNewPassword" />
            <label for="confirmNewPassword">Confirm New Password</label>
            <ValidationMessage For="() => input.ConfirmNewPassword" class="text-danger" />
        </div>

        <div>
            <button type="submit" class="btn btn-lg btn-primary">Change</button>
        </div>
    </EditForm>
</div>
