@page "/forgot-password"

@using Gosuji.Client.Components.Shared;

@inherits CustomPage

<PageTitle>Forgot Password</PageTitle>

<div id="forgotPasswordPage">
    <CStatusMessage @ref=statusMessage />

    <EditForm Model="input" OnValidSubmit="TryForgotPassword" method="post">
        <DataAnnotationsValidator />

        <div class="form-floating mb-3">
            <InputText @bind-Value="input.Email" class="form-control" id="email" />
            <label for="email">Email</label>
            <ValidationMessage For="() => input.Email" class="text-danger" />
        </div>

        <div>
            <button type="submit" class="btn btn-lg btn-primary">Send</button>
        </div>
    </EditForm>
</div>
