#profilePage {
    margin: 0 15%;
}

    #profilePage > div {
        margin-bottom: 60px;
    }


    #profilePage #daysChart {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 200px;
    }
