.loadAnimation {
    color: rgba(0, 0, 0, 0.5);
}

.loadAnimation,
.loadAnimation:after {
    box-sizing: border-box;
}

.loadAnimation {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loadAnimation:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: loadAnimation 2.5s linear infinite;
}

@keyframes loadAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#mainNavMenu .active {
    font-weight: 600;
}


.content {
    min-height: 100vh;
}

.pageTitle {
    text-align: center;
}


.statusMessage {
    position: relative;
}

.statusMessage .closeIconDiv {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#trainerPage #trainerGame .besogo-board {
    position: relative;
}

#trainerPage #trainerGame .next {
    position: absolute;
    top: 5px;
    right: 5px;
}

#trainerPage #trainerGame .boardOverlay {
    position: absolute;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 54, 54, 0.5);
}

#trainerPage #trainerGame #preMoveOverlay {
    background-color: transparent;
    justify-content: end;
}

#trainerPage #trainerGame #stopPreMovesBtn {
    margin-bottom: 20px;
}

#trainerPage #trainerGame #finishedOverlay p {
    margin-bottom: 75px;
    font-size: 50px;
    font-weight: 800;
    text-decoration: underline;
}

#trainerPage #trainerGame #finishedOverlay div {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

#trainerPage #trainerGame #finishedOverlay .btn {
    margin: 0 15px;
    width: 100%;
    text-wrap: nowrap;
}

#trainerPage #trainerGame #komiDisplay {
    background-color: rgb(0, 0, 0);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#trainerPage #trainerGame .besogo-tree {
    max-height: 100px !important;
}

#trainerPage #trainerSettings .form-invalid-message {
    width: 100%;
    color: red;
    font-size: 0.8125rem;
}


#profilePage .day {
    margin: 0 5px 5px 0;
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    background-color: rgb(200, 200, 200);
}
