@page "/logout"
@layout EmptyLayout

<PageTitle>Logout</PageTitle>

<form method="post" action="Account/Logout">
    <AntiforgeryToken />
    <input type="hidden" name="ReturnUrl" />
    <button type="submit" id="logoutBtn" hidden></button>
</form>

<script>
    document.getElementById("logoutBtn").click();
</script>
