<AuthorizeView>
    <Authorized>
        <div class="navItem">
            <a href="Identity/Account/Manage">@context.User.Identity?.Name</a>
        </div>

        <div class="navItem">
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="navItem">
            <a href="Identity/Account/Register">Register</a>
        </div>

        <div class="navItem">
            <a href="Identity/Account/Login">Login</a>
        </div>

        <div class="navItem">
            <a href="contact">Contact</a>
        </div>
        
        <div class="navItem">
            <a href="subscription">Subscribe</a>
        </div>

    </NotAuthorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        if (G.LogRouting) Console.WriteLine("LoginDisplay.razor");
    }
}