#cmsPage #flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cmsPage .flex-item {
    border: 2px solid darkblue;
    border-radius: 20px;
    padding: 20px;
    min-width: 850px;
    max-width: 850px;
    margin-bottom: 20px;
}

#cmsPage #translationInputs textarea {
    height: 24px;
}
