@page "/cms/stats"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@layout CMSLayout

@using Gosuji.Components.Layout
@using Gosuji.Client.Components.Shared
@using Gosuji.Components.Shared.CMS
@using Gosuji.Components.Shared.Errors

<AuthorizeView>
    <Authorized>
        <AuthorizeView Roles="Owner">
            <Authorized Context="a">

                <div id="cmsStatsPage">
                    <div class="cmsFlexContainer">
                        <div class="cmsFlexItem">
                            <canvas id="userChart"></canvas>
                        </div>
                    </div>
                </div>

            </Authorized>
            <NotAuthorized Context="a">
                <Unauthorized />
            </NotAuthorized>
        </AuthorizeView>
    </Authorized>
    <NotAuthorized>
        <CRedirect URI="Account/Login" ForceLoad="true" />
    </NotAuthorized>
</AuthorizeView>
