#mainNavBar .navItem {
    margin-right: 25px;
}

#mainNavBar .navItem a {
    margin: 0;
    color: inherit;
    text-decoration: none;
}

.content {
    padding-top: 20px;
}

h1 {
    text-align: center;
}


#trainerPage #game .next {
    position: absolute;
    top: 5px;
    right: 5px;
}

#trainerPage #settings .form-invalid-message {
    width: 100%;
    color: red;
    font-size: 0.8125rem;
}


#profilePage .day {
    margin: 0 5px 5px 0;
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    background-color: rgb(200, 200, 200);
}


/* DARK MODE */

html[data-bs-theme="dark"] #mainNavBar {
    background-color: rgb(50, 50, 50);
    border-bottom-color: rgb(100, 100, 100);
}