<header class="mb-5 border-bottom bg-light-subtle">
    <div class="container">
        <div class="d-flex justify-content-start py-3">
            <div class="flexItem d-flex justify-content-start flex-wrap">
                <div class="px-2">
                    <a href="/" class="link-body-emphasis nav-link">Back</a>
                </div>
                <div class="px-2">
                    <a href="cms" class="link-body-emphasis nav-link">Home</a>
                </div>
                <div class="px-2">
                    <a href="cms/stats" class="link-body-emphasis nav-link">Stats</a>
                </div>
            </div>
        </div>
    </div>
</header>
