@using Gosuji.Client.Components.Shared

@inherits CustomLayoutComponentBase

<div class="page">
    <main>
        @if (G.StatusMessage != null) {
            <MainNavMenu />
        }

        <article class="content px-4">
            <CStatusMessage @ref=G.StatusMessage />

            @Body
        </article>

        <MainFooter />
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
