<footer id="mainFooter" class="mt-5 border-top bg-light-subtle">
    <div class="container">
        <div class="d-flex justify-content-between py-3">
            <div class="flexItem">
                <span class="text-body-emphasis">&copy; <span id="copyrightYear"></span> Crystal Panda Studio</span>
            </div>

            <div class="flexItem d-flex justify-content-center">
                <div class="px-2">
                    <a class="link-body-emphasis nav-link" href="terms-of-service">Terms of Service</a>
                </div>
                <div class="px-2">
                    <a class="link-body-emphasis nav-link" href="privacy-policy">Privacy Policy</a>
                </div>
                <div class="px-2">
                    <a class="link-body-emphasis nav-link" href="credits">Credits</a>
                </div>
            </div>

            <div class="flexItem d-flex justify-content-end">
                <div class="px-2">
                    <a class="link-body-emphasis nav-link" href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
                <div class="px-2">
                    <a class="link-body-emphasis nav-link" href="#"><i class="fa-brands fa-discord"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
