@page "/cms"

@using GosujiServer.Shared.CMS;

<div id="cmsPage">
    <div id="flex-container">
        <div class="flex-item">
            <Translation />
        </div>
        <div class="flex-item">
            <AbuseDetect />
        </div>
    </div>
</div>
