@page "/cms"

@using GosujiServer.Shared.CMS;

<AuthorizeView>
    <Authorized>
        <AuthorizeView Roles="Owner">
            <Authorized Context="a">

                <div id="cmsPage">
                    <div id="flex-container">
                        <div class="flex-item">
                            <CTranslation />
                        </div>
                        <div class="flex-item">
                            <CAbuseDetect />
                        </div>
                    </div>
                </div>

            </Authorized>
            <NotAuthorized Context="a">
                <Unauthorized />
            </NotAuthorized>
        </AuthorizeView>
    </Authorized>
    <NotAuthorized>
        <CRedirect URI="Identity/Account/Login" />
    </NotAuthorized>
</AuthorizeView>
