@page "/josekis"

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@using GosujiServer.Services
@using GosujiServer.Models.GoGameWraps;
@using IGOEnchi.GoGameLogic;

@inject JosekisService josekiService
@inject IJSRuntime JS

<div id="josekisPage">
    <div id="title">
        <h1>Josekis</h1>
    </div>

    <div id="flex-container">
        <div class="flex-item">
            <div id="game">
                <div class="board"></div>
            </div>
        </div>
    </div>
</div>