@page "/josekis"

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@using GosujiServer.Services

@inject JosekiService josekiService
@inject IJSRuntime JS

<div id="josekisPage">
    <div id="title">
        <h1>Josekis</h1>
    </div>

    
</div>