@page "/josekis"

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@using GosujiServer.Services
@using GosujiServer.Models.GoGameWraps;
@using IGOEnchi.GoGameLogic;

@inject JosekiService josekiService
@inject IJSRuntime JS

<div id="josekisPage">
    <div id="title">
        <h1>Josekis</h1>
    </div>

    @if (josekiService.CurrentStone() != null)
    {
        <p>@josekiService.CurrentStone().Print()</p>
    }

    <button @onclick="() => josekiService.ToParent()">Back</button>

    @foreach (Stone childStone in josekiService.ChildStones())
    {
        <button @onclick="() => josekiService.ToChild(childStone)">@childStone.Print()</button>
    }

    <div id="flex-container">
        <div class="flex-item">
            <div id="game">
                <div class="board"></div>
            </div>
        </div>
    </div>
</div>