@page "/learn"

@inject NavigationManager navigationManager

<div id="learnPage">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div id="trainerCard" class="toolCard" @onclick='() => GoToPage("trainer")'>
                    <div class="toolCardText">
                        <h3>Play against AI</h3>
                        <p>With instant feedback</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div id="josekisCard" class="toolCard" @onclick='() => GoToPage("josekis")'>
                    <div class="toolCardText">
                        <h3>Learn AI josekis</h3>
                        <p>The first free AI josekipedia</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div id="flashcardsCard" class="toolCard" @onclick='() => GoToPage("")'>
                    <div class="toolCardText">
                        <h3>Flashcards</h3>
                        <p>Let AI find your weakness and work on it</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div id="sequenceLearnerCard" class="toolCard" @onclick='() => GoToPage("")'>
                    <div class="toolCardText">
                        <h3>Sequence trainer</h3>
                        <p>Add and learn any sequence</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private void GoToPage(string uri)
    {
        navigationManager.NavigateTo(uri);
    }
}
