.board {
    position: relative;
}

button.bsg {
    color: black;
}

button.bsg:disabled {
    color: rgb(107, 107, 107);
}

button.bsg:disabled svg polygon {
    fill: rgb(107, 107, 107);
}

.besogo-container {
    background-color: transparent;
}

.besogo-whiteInfo {
    background-color: rgb(200, 200, 200);
}

.besogo-blackInfo {
    background-color: rgb(50, 50, 50);
}


.ghostStone {
    opacity: 0.5;
}
