.flexContainer {
    display: flex;
}


#feedbackTableContainer {
    max-width: 1000px;
}

#feedbackTable .read {
    background-color: rgb(10, 25, 10);
}

#feedbackMessage {
    margin-top: 10px;
    margin-left: 30px;
}
