::deep .cmsFlexContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

::deep .cmsFlexItem {
    background-color: rgb(50, 50, 50);
    border: 2px solid darkblue;
    border-radius: 20px;
    padding: 20px;
    min-width: 850px;
    max-width: 850px;
    margin-bottom: 20px;
}

::deep .cmsFlexItemXL {
    min-width: 1700px;
    max-width: 1700px;
}
