<div id="mainNavBar" class="top-row px-4 auth">
    <div class="navItem">
        <a href="/">Back</a>
    </div>

    <div class="navItem">
        <a href="cms">Home</a>
    </div>

    <div class="navItem">
        <a href="cms/stats">Stats</a>
    </div>
</div>
