#profilePage {
    margin: 0 15%;
}

#profilePage>div {
    margin-bottom: 60px;
}


#profilePage #daysChart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 200px;
}

#profilePage .day {
    margin: 0 5px 5px 0;
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    background-color: rgb(200, 200, 200);
}