@page "/contact"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Contact</PageTitle>

<div id="contactPage">
    <div class="page-layout">
        <h1 class="contact-header">Contact</h1>
        <!-- Explanation and Description of the page -->
        <div class="contact-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </div>

        <!-- Contact information -->
        <div class="contact-information">
            <div>Author: Emanual de Jong</div>
            <div>Email: bob@bob.com</div>
            <div>Company: Crystal Panda Studio</div>
        </div>

        <!-- Feedback and Questions form -->
        <form class="feedback-container">
            <div class="feedback-subcontainer">
                <div class="feedback-subsubcontainer">
                    <h4 class="feedback-header">Feedback</h4>
                    <label for="subject-input" class="subject-label">Subject</label>
                    <input type="text" @bind="subject" class="subject-content" name="subject-input" id="subject-input" />
                </div>
                <div class="feedback-type-container">
                    <h5 class="feedback-type-header">Type</h5>
                    <ul class="feedback-type-list">
                        <li class="feedback-element">
                            <input type="radio" id="question" value="question" name="feedback">
                            <label for="question">Question</label>
                        </li>
                        <li class="feedback-element">
                            <input type="radio" id="bug-report" value="bug" name="feedback">
                            <label for="bug-report">Report bug</label>
                        </li>
                        <li class="feedback-element">
                            <input type="radio" id="suggestion" value="suggestion" name="feedback">
                            <label for="suggestion">Suggestion</label>
                        </li>
                        <li class="feedback-element">
                            <input type="radio" id="other" value="other" name="feedback">
                            <label for="other">Other</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-submit-container">
                <textarea @bind="message" class="feedback-content-input" name="feedback-content" id="feedback-content" placeholder="Please enter your Feedback here" cols="40" rows="7"></textarea>
                <button type="button" @onclick="SendFeedback" class="btn btn-primary feedback_submit">Confirm</button>
            </div>
        </form>
    </div>
</div>


@code {

}
