@page "/credits"

@inherits CustomPage

<PageTitle>Credits</PageTitle>

<div id="creditsPage">
    <h3>Libraries</h3>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <a href="https://dotnet.microsoft.com/en-us/apps/aspnet">ASP.NET Core</a>
                </td>
                <td>
                    The framework that both the website and the server are build on.
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://getbootstrap.com/">Bootstrap</a>
                </td>
                <td>
                    The front-end styling library.
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://github.com/lightvector/KataGo">KataGo</a>
                </td>
                <td>
                    The Go AI that powers all features that give advice.
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://github.com/yewang/besogo">Besogo</a>
                </td>
                <td>
                    Used to visualize the Go boards.
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://datatables.net/">DataTables</a>
                </td>
                <td>
                    Allows searching, sorting and pagination of tables.
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.chartjs.org/">Chart.js</a>
                </td>
                <td>
                    Visualizes data with charts.
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://momentjs.com/">Moment.js</a>
                </td>
                <td>
                    Shows dates and time in a readable way.
                </td>
            </tr>
        </tbody>
    </table>
</div>