@page "/josekis"

@inherits CustomPage

<PageTitle>AI Josekipedia</PageTitle>

@if (settingConfig != null)
{
    <div id="josekisPage">
        <div id="flex-container">
            <div class="flex-item"></div>

            <div class="flex-item">
                <div id="game">
                    <div class="board"></div>
                </div>
            </div>

            <div class="flex-item">
                <div id="comment">
                    @if (Comment != null)
                    {
                        @foreach (string line in Comment)
                        {
                            @foreach (string word in line.Split(" "))
                            {
                                @if (word == "Pass")
                                {
                                    <span class="pass">
                                        @(word + " ")
                                    </span>
                                }
                                else
                                {
                                    @(word + " ")
                                }
                            }

                            <br />
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}
