#learnPage .toolCard {
    display: flex;
    position: relative;
    height: 300px;
    border: 2px solid white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background: rgba(0, 0, 0, 0.2);
}

    #learnPage .toolCard:hover {
        background: none;
        cursor: pointer;
    }

    #learnPage .toolCard::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        border-radius: 20px;
    }

#learnPage .toolCardText {
    padding: 20px 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

    #learnPage .toolCardText p {
        color: #eee;
    }

#learnPage #trainerCard::before {
    background-image: url("../../resources/imgs/pages/learn/Trainer.png");
    background-position: bottom;
}

#learnPage #josekisCard::before {
    background-image: url("../../resources/imgs/pages/learn/Josekis.png");
    background-position: top;
}
