@page "/register"

@using Gosuji.Client.Services;
@using Gosuji.Client.Services.User;
@using Gosuji.Client.Components.Shared;

<PageTitle>Register</PageTitle>

<h1>Register</h1>

<div class="row">
    <div class="col-md-4">
        <StatusMessage IsError="isMessageError" Message="@message" />

        <EditForm Model="input" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <DataAnnotationsValidator />

            <div class="form-floating mb-3">
                <InputText @bind-Value="input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="User" />
                <label for="username">Username</label>
                <ValidationMessage For="() => input.UserName" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label for="email">Email</label>
                <ValidationMessage For="() => input.Email" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label for="password">Password</label>
                <ValidationMessage For="() => input.Password" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label for="confirm-password">Confirm Password</label>
                <ValidationMessage For="() => input.ConfirmPassword" class="text-danger" />
            </div>

            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </div>
        </EditForm>
    </div>
</div>
