@page "/register"

@using Gosuji.Client.Services;
@using Gosuji.Client.Services.User;
@using Gosuji.Client.Components.Shared;

<PageTitle>Register</PageTitle>

<div id="registerPage">
    <h1>Register</h1>

    <div class="row">
        <div class="col-md-4">
            <CStatusMessage @ref=statusMessage />

            @if (backupCode != null)
            {
                <div class="alert alert-warning" role="alert">
                    <p>
                        This is your backup code: <b>@backupCode</b>
                        <button type="button" class="btn btn-sm btn-warning" @onclick=BackupCodeToClipboard><i class="fa-regular fa-copy"></i></button>
                    </p>
                    <p>Save this code somewhere safe! You will need it to recover your account if you lose access to your email.</p>
                </div>
            }

            <EditForm Model="input" method="post" OnValidSubmit="RegisterUser" FormName="register">
                <DataAnnotationsValidator />

                <div class="form-floating mb-3">
                    <InputText @bind-Value="input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="User" />
                    <label for="username">Username</label>
                    <ValidationMessage For="() => input.UserName" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label for="email">Email</label>
                    <ValidationMessage For="() => input.Email" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label for="password">Password</label>
                    <ValidationMessage For="() => input.Password" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label for="confirm-password">Confirm Password</label>
                    <ValidationMessage For="() => input.ConfirmPassword" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        <InputCheckbox @bind-Value="input.AcceptToS" class="form-check-input" />
                        I accept the <a href="tos">Terms of Service</a>.
                    </label>
                    <ValidationMessage For="() => input.AcceptToS" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        <InputCheckbox @bind-Value="input.IsGetChangelogEmail" class="form-check-input" />
                        Send me emails about changes to the website.
                    </label>
                    <ValidationMessage For="() => input.IsGetChangelogEmail" class="text-danger" />
                </div>

                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>
