@page "/settings"

<div id="settingsPage">
    <div class="container">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3">
                <button type="button" class="nav-link active" data-bs-toggle="pill" data-bs-target="#v-pills-general">General</button>
                <button type="button" class="nav-link" data-bs-toggle="pill" data-bs-target="#v-pills-subscription">Subscription</button>
                <button type="button" class="nav-link" data-bs-toggle="pill" data-bs-target="#v-pills-privacy">Security</button>
            </div>
            <div class="tab-content">
                <div class="tab-pane show active" id="v-pills-general">
                    <p>Dark mode</p>
                    <p>Volume</p>
                </div>
                <div class="tab-pane" id="v-pills-subscription">
                    <p>Current</p>
                    <p>Cancel</p>
                </div>
                <div class="tab-pane" id="v-pills-privacy">
                    <p>Username</p>
                    <p>Email</p>
                    <p>Password</p>
                    <p>Changelog emails</p>
                    <p>Personal data</p>
                </div>
            </div>
        </div>
    </div>
</div>
