@page "/test"

@inherits CustomPage

@inject TestService testService
@inject KataGoSignalRService kataGoService

<div id="testPage">
    <h3>Test</h3>

    @if (testResult.HasValue)
    {
        <p>1: @testResult</p>
    }
    @if (test2Result.HasValue)
    {
        <p>2: @test2Result</p>
    }
    @if (test3Result.HasValue)
    {
        <p>3: @test3Result</p>
    }
</div>

@code {
    bool? testResult;
    bool? test2Result;
    bool? test3Result;

    protected override async Task OnInitializedAsync()
    {
        testResult = await testService.Test();
        test2Result = await testService.Test2();
        test3Result = await testService.Test3();

        await kataGoService.Start();
        await kataGoService.Test();
    }

    public async ValueTask DisposeAsync()
    {
        await kataGoService.Stop();
    }
}
