#trainerPage .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#trainerPage .flex-item {
    /*flex: auto;*/
    /*overflow: hidden;*/
}

#trainerPage .accordion-button {
    padding: 8px 20px 8px 10px !important;
}

#trainerPage .accordion-body {
    /*padding-left: 0 !important;*/
    /*padding-right: 0 !important;*/
}


#trainerSettings {
    width: 450px;
}

    #trainerSettings .accordion-body .row .row {
        margin-bottom: 15px;
    }

    #trainerSettings input:invalid {
        border-color: red !important;
    }

    #trainerSettings .input-group-text input[type="checkbox"] {
        min-width: 16px;
    }

    #trainerSettings .input-group input[type="number"],
    #trainerSettings #opponentOptionPercDiv span,
    #trainerSettings #preOptionPercDiv span,
    #trainerSettings #minVisitsPercDiv span,
    #trainerSettings #maxVisitDiffPercDiv span {
        border-top-right-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
    }

    #trainerSettings #opponentOptionPercDiv input[type="number"],
    #trainerSettings #preOptionPercDiv input[type="number"],
    #trainerSettings #minVisitsPercDiv input[type="number"],
    #trainerSettings #maxVisitDiffPercDiv input[type="number"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


    #trainerSettings #presetSettings {
        padding-bottom: 16px;
    }

    #trainerSettings #presetSettings .row {
        margin-bottom: 15px;
    }

    #trainerSettings #presetSettings .generalPresetOption {
        font-weight: 600;
        color: lightblue;
    }

    #trainerSettings #visitsDiv span {
        min-width: 106px;
        max-width: 106px;
    }


#trainerGame {
    position: relative;
    max-width: 725px;
}

    #trainerGame .loadAnimation {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }

        #trainerGame .loadAnimation:after {
            width: 26px;
            height: 26px;
        }


#trainerStats {
    width: 450px;
    font-size: 22px;
}

    #trainerStats > div {
        margin-bottom: 10px;
    }

    #trainerStats #keyValues > div {
        margin-bottom: 35px;
    }

    #trainerStats #title {
        font-size: 1.5rem;
        font-weight: 800;
    }

    #trainerStats #scoreChartColor {
        max-width: 163px;
    }


/* DARK MODE */

html[data-bs-theme="dark"] {
}
