#trainerPage #debug {
    background-color: lightgrey;
    padding: 15px 25px;
}

    #trainerPage #debug ul {
        margin: 0;
        padding: 0;
    }

    #trainerPage #debug li {
        display: inline-block;
        text-decoration: none;
    }


#trainerPage #flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#trainerPage .flex-item {
    display: contents;
    flex: auto;
}


#trainerPage #game .board {
    width: 725px;
}

#trainerPage #game .besogo-gameInfo {
    display: none !important;
}

#trainerPage #game .besogo-tree {
    flex-basis: 3%;
}


#trainerPage #stats {
    width: 400px;
    font-size: 22px;
}

    #trainerPage #stats > div {
        margin-bottom: 10px;
    }

    #trainerPage #stats #keyValues > div {
        margin-bottom: 35px;
    }

    #trainerPage #stats #title {
        font-size: 1.5rem;
        font-weight: 800;
    }

    #trainerPage #stats #scoreChartColor {
        max-width: 163px;
    }


#trainerPage #settings {
    width: 400px;
}

    #trainerPage #settings .accordion-body .row .row {
        margin-bottom: 15px;
    }

    #trainerPage #settings input:invalid {
        border-color: red !important;
    }

    #trainerPage #settings .input-group-text input[type="checkbox"] {
        min-width: 16px;
    }

    #trainerPage #settings .input-group input[type="number"],
    #trainerPage #settings #opponentOptionPercDiv span,
    #trainerPage #settings #preOptionPercDiv span,
    #trainerPage #settings #minVisitsPercDiv span,
    #trainerPage #settings #maxVisitDiffPercDiv span {
        border-top-right-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
    }

    #trainerPage #settings #opponentOptionPercDiv input[type="number"],
    #trainerPage #settings #preOptionPercDiv input[type="number"],
    #trainerPage #settings #minVisitsPercDiv input[type="number"],
    #trainerPage #settings #maxVisitDiffPercDiv input[type="number"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #trainerPage #settings #settingsButtonDiv {
        margin-bottom: 20px;
    }


#trainerPage .accordion-button {
    padding: 8px 20px 8px 10px !important;
}

#trainerPage .accordion-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
}



/* DARK MODE */

html[data-bs-theme="dark"] {
}
